@import "_global";

body {
  @include lib-reset-spacing;
  @include lib-css(font-weight, $font-weight__regular);
  font-family: 'Roboto', sans-serif;
  transition: all .35s ease-in-out;
  position: relative;
  box-sizing: border-box;

  * {
    transition: all .35s ease-in-out;
    position: relative;
    box-sizing: border-box;
  }
}

a {
  @include lib-text-decoration-none;
  display: inline-block;
  width: max-content;
  height: max-content;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}