.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}

header {
  background: $color-gray;

  .header-mobile {
    display: none;
  }

  a.btn {
    padding: 20px 23px;
    border: 1px solid $color-purple;
    box-shadow: 0px 4px 4px $color-drop-shadow;
    @include lib-font-size(16px);
  }

  ul {
    @include lib-list-reset-styles();
  }

  span,
  a {
    text-transform: uppercase;
    color: $color-white;
    @include lib-font-size(12px);
    @include lib-line-height(14px);
    font-weight: 800;
  }

  .header {
    height: max-content;
    padding-top: 25px;
    padding-bottom: 25px;

    .wrapper,
    ul {
      @include lib-vendor-prefix-display(flex);
    }

    .wrapper {
      justify-content: space-between;
      @include lib-vendor-box-align(center);
      padding-right: 15px;
      padding-left: 15px;
    }

    img {
      height: auto;
      width: 143px;
    }

    ul {
      gap: 30px;
    }
  }
}