@media screen and (max-width: 1024px) {
  header .header {
    display: none;
  }

  header .header-mobile {
    display: block;

    nav {
      display: none;
      padding: 85px 10px;

      &.active,
      ul {
        @include lib-vendor-prefix-display(flex);
        @include lib-vendor-prefix-flex-direction(column);
        @include lib-vendor-box-align(center);
      }

      &.active {
        height: max-content;
        justify-content: space-between;
      }

      ul {
        margin-bottom: 90px;
        gap: 30px;

        a {
          @include lib-font-size(16px);
        }
      }
    }

    .open {
      width: 32px;
      height: 32px;
      padding: 9px 6px;
      @include lib-vendor-prefix-display(flex);
      @include lib-vendor-prefix-flex-direction(column);
      justify-content: space-between;

      div {
        background-color: $color-blue;
        width: 100%;
        height: 2px;
        border-radius: .5px;
      }

      &.active {
        justify-content: center;
        padding: 8px;

        div:nth-child(2) {
          display: none;
        }

        div:first-child {
          @include lib-rotate(45deg);
        }

        div:last-child {
          @include lib-rotate(-45deg);
        }
      }
    }

    .main-content {
      padding: 12px 16px;
      @include lib-vendor-prefix-display(flex);
      @include lib-vendor-box-align(center);
      justify-content: space-between;

      > .btn {
        @include lib-font-size(10px);
        padding: 10px;
      }
    }
  }
}